/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bgd-header: #F96800;
    --bgd-footer: #1A1A1A;
    --discout-lables: #F82600;
    --sustainability-lables: #1B8000;
    --price-lables: #F82600;
    --font-white: #FFFFFF;
    --font-big: 20px;
}

/* generics */
body{
    font-family: sans-serif;
    padding-top: 130px;
}

header {
    background-color: var(--bgd-header);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

footer {
    background-color: var(--bgd-footer);
}

/* utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.debug .border {
    border: 2px dashed #525254;
}

.card {
    position: relative;
}

.favourite {
    background-color: white;
    padding: 10px 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    color: black;
    font-size: 25px;
}
.discount {
    background-color: var(--discout-lables);
    position: absolute;
    top: 90%;
    left: 0;
}

.sustainab {
    background-color: var(--sustainability-lables);
    position: absolute;
    top: 90%;
    left: 15%;
}

.discount, .sustainab {
    color: var(--font-white);
}

.lable {
    padding: 5px 10px;
    font-size: 15px;
}
.brand {
    padding-top: 5px;
}

.full-price {
    color: var(--price-lables);
}

.discount-price {
    text-decoration: line-through;
}

.product-description, .company {
    font-size: var(--font-big);
    font-weight: 300;
}

.brand, .discount-price {
    font-weight: 100;
}

.price * {
    display: inline-block;
}

.favourite:hover {
    color: red;
}

.levi-rel-unx img:hover {
    content: url(../img/1b.webp);
}

.guess img:hover {
    content: url(../img/2b.webp);
}

.zuc-fil img:hover {
    content: url(../img/3b.webp);
}

.levi-t-unx img:hover {
    content: url(../img/4b.webp);
}

.malaya-deluxe img:hover {
    content: url(../img/5b.webp);
}

.esprit img:hover {
    content: url(../img/6b.webp);
}

.brand, i {
    cursor: pointer;
}

/* header */

.header-bar {
    height: 80px;
    align-items: center;
}

.navbar-menu, .navbar-action {
    flex-grow: 1;
}

.navbar-logo {
    flex-grow: 2;
    text-align: center;
}

.header-bar * {
    flex-basis: 10%;
}

.navbar-action {
    text-align: right;
}

/* column */
.column {
    flex-basis: calc(100% / 3 );
    padding: 30px 10px;
}

/* row */
.row {
    flex-wrap: wrap;
    margin: 0 -10px;
}

/* cards */

img {
    max-width: 100%;
}

.esprit .sustainab {
    position: absolute;
    top: 90%;
    left: 0%;
}

header  img {
    width: 200px;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 0;
}

header i, footer i, a {
    padding: 0 5px;
    color: var(--font-white);
}

/* footer */

.footer-bar {
    height: 120px;
    align-items: center;
    color: var(--font-white);
    margin-top: 50px;
}

.footer-bar *{
    flex-basis: 50%;
}

.navbar-social {
    text-align: right;
}

.company, .social-icons {
    padding: 10px 5px;
} 

.social, social {
    margin-right: 10px;
}

